:root {
    --background: #ffffff;
    --foreground: #171717;
    --map-color: hsl(231, 52%, 38%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --map-color: hsl(231, 52%, 68%);
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.pointGroup {
    --radius: 2;
    --display-label: none;
    --stroke-width: 3px;
    display: none;
}

.pointGroup.visible {
    display: block;
}

.pointGroup:hover {
    --radius: 4;
    --display-label: block;
}

.point {
    fill: red;
    r: var(--radius);
    stroke: transparent;
    stroke-width: var(--stroke-width);
}

.pointGroup:hover .point {
    stroke: var(--background);
    paint-order: stroke fill;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    fill: var(--foreground);
    display: var(--display-label);
    stroke: var(--background);
    stroke-width: var(--stroke-width);
    paint-order: stroke fill;
}

#map {
    overflow: visible;
}

#map polygon {
    fill: var(--map-color);
    stroke: var(--foreground);
    stroke-width: 2;
}