<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
<feed xmlns:gpf_dl="https://data.geopf.fr/annexes/ressources/xsd/gpf_dl.xsd" xmlns="http://www.w3.org/2005/Atom">
  <entry>
    <title>ADMIN-EXPRESS_4-0__GPKG_LAMB93_FXX_2026-02-16</title>
    <link href="__BASE_URL__/telechargement/resource/ADMIN-EXPRESS/ADMIN-EXPRESS_4-0__GPKG_LAMB93_FXX_2026-02-16" rel="alternate" type="application/atom+xml"/>
    <gpf_dl:editionDate>2026-02-16</gpf_dl:editionDate>
  </entry>
  <entry>
    <title>ADMIN-EXPRESS_4-0__GPKG_LAMB93_FXX_2026-03-24</title>
    <link href="__BASE_URL__/telechargement/resource/ADMIN-EXPRESS/ADMIN-EXPRESS_4-0__GPKG_LAMB93_FXX_2026-03-24" rel="alternate" type="application/atom+xml"/>
    <gpf_dl:editionDate>2026-03-24</gpf_dl:editionDate>
  </entry>
</feed>
